body {
    background-color: lightblue;
}.button {
    background-color: #FF7F50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
  
}